body {
    margin: 0;
}
.card {
    background: #d0d0d0;
    box-shadow: 10px 5px 5px #8f8f8f;
    border-radius: 10px;
    margin: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 30%;
}
.Body {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

}
.centerDiv {
    display: flex;
    justify-content: center;
}


  /* Set a style for all buttons */
.formButton {
    background-color: pink;
    color: black;
    font-size: large;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid rgb(195, 130, 140);
    cursor: pointer;
    width: 100%;
    text-align: ce;
}